/*------------------------------------------------Color*/

.contentColor {
    background-color: #ccebff;
}

.bg-grey {
    background-color: #e6e6e6;
}

/*------------------------------------------------Nav Bar*/

.navbar-toggler {
    background-color: #fafafa;
}

.navbar-nav {
    font-size: 20px;
    color: black;
}

.navbar-brand {
    font-family: 'Stoke', serif;
    font-size: 30px;
}

/*------------------------------------------------Home Page*/

#FeaturedImages {
    max-height: 700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.jumbotron {
    background-image: url("../images/bluescape.jpg");
    background-size: cover;
    margin-bottom: 0;
    border-radius: 0;
}

.carousel-item img {
    max-height: 700px;
}

.jumbotron-about {
    text-shadow: 0 0 3px #FF0000;
    color: #fafafa;
    text-align: center;
}

.carousel {
    -webkit-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.75);
}

.carouselImage{
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .carousel-item img {
        max-height: 300px;
    }
    #FeaturedImages {
        width: fit-content;
    }
}

/*------------------------------------------------Gallery Page*/

.pointerCursor{
    cursor: pointer;
}

.galleryImage {
    max-height: 350px;
    max-width: 100%;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 768px) {
    .galleryImage {
        max-height: none;
    }
}

.galleryCaption {
    font-size: 20px;
    font-style: oblique;
}

.pagination {
    padding-bottom: 20px;
    margin-bottom: 0;
}

.page-item.disabled .page-link {
    color: #dee2e6;
    pointer-events: none;
    cursor: auto;
    background-color: #343a40;
}

.page-item.active .page-link {
    z-index: 1;
    color: #343a40;
    background-color: #fff;
    border-color: #fff;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #fafafa;
    background-color: #343a40;
    border: 1px solid #dee2e6;
}

/*------------------------------------------------Poems*/

.poems {
    max-width: 100%;
    font-size: 20px;
    -webkit-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.75);
    padding: 0;
    border: none;
}

.card-img-top{
    -webkit-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.75);
}

/*------------------------------------------------Contact*/

.aboutmeContainer {
    -webkit-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.75);
    margin-bottom: 90px;
}

#aboutmeBio {
    font-size: 22px;
    font-family: Noto Sans, "san-serif";
}

#aboutImage {
    width: 100%;
    max-height: 350px;
    max-width: 100%;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 768px) {
    #aboutImage {
        max-height: none;
    }
}

.contactContainerLinks {
    overflow-wrap: break-word;
}

/*------------------------------------------------Footer*/

.contactLinks {
    overflow-wrap: break-word;
    color: #fafafa;
}

footer {
    bottom: 0;
    width: 100%;
    margin: 0;
}
